# Microsoft Entra ID / Graph
TENANT_ID=
CLIENT_ID=
CLIENT_SECRET=
USER_ID=

# OpenRouteService
ORS_KEY=

# Pushover push notifications
PUSHOVER_APP_TOKEN=
PUSHOVER_USER_KEY=
PUSHOVER_SOUND=

# Home coordinates
HOME_LAT=60.20
HOME_LON=24.65

# Work coordinates
WORK_LAT=60.17
WORK_LON=24.94